@model ICollection<SensorsAndEngines.WebApplication.Models.Home.SensorsDTO>
@{
}

<div class="container">
    <div class="row">
        <div id="graph" class="col"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="row">
        <button id="stop-btn" class="btn btn-danger mx-2" value="/home/resetCollector">Stop</button>
        <button id="download-btn" class="btn btn-primary mx-2" value="/home/downloadCollected">Download</button>
    </div>
</div>



@section Scripts
{
    <link href="~/lib/dygraph/dygraph.css"/>
    <script src="~/lib/dygraph/dygraph.js"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script type="module" src="~/js/home/action.js"></script>
}
